@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #222;
  color: #ffcb9a;
}

header {
  padding: 1.5rem;
  border-bottom: 5px solid white;
}

.content__wrapper {
  padding: 0rem 2rem;
}

section {
  width: 100%;
  min-height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .content {
  padding: 0rem 2rem;
  box-sizing: border-box;
  color: #ffcb9a;
}

section .content h2 {
  color: #116466;
  font-size: 3rem;
  font-weight: 800;
}

.content__p {
  font-size: 1.2rem;
}

.content__link {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  margin-top: 1.25rem;
  background: #116466;
  color: #ffcb9a;
  text-decoration: none;
  text-transform: uppercase;
}

.content__paragraph {
  font-size: 2rem;
}

section .box {
  padding-top: 6.25rem;
}

section .box img {
  max-width: 50rem;
}

footer {
  width: 100%;
  min-height: 16vh;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sci {
  margin: auto;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  text-decoration: none;
  color: #fff;
  margin-right: 1.875rem;
  font-size: 0.9em;
}

.sci li a:hover {
  color: #116466;
}

.nav {
  top: 4.6875rem;
  left: 9.375rem;
  padding-left: 1.25rem;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 1.5rem;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  margin-right: 1.875rem;
  font-size: 0.9em;
}

.nav li a.active,
.nav li a:hover,
.link:hover {
  color: #116466;
}

@media (max-width: 991px) {
  .menuicon {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    width: 1.875rem;
    height: 1.875rem;
    background: url(Photos/menu.png);
    filter: invert(1);
    background-size: 1.875rem;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 1000;
  }
  .menuicon.active {
    background: url(Photos/close.png);
    filter: invert(1);
    background-size: 1.875rem;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 1000;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    z-index: 11;
    border: none;
    padding: 50px;
  }
  .nav.active {
    left: 0;
  }
  .nav li {
    margin: 5px 0;
  }
  section {
    flex-direction: column-reverse;
    justify-content: center;
  }
  section .content {
    padding: 50px;
    margin-bottom: 1.875rem;
  }
  section .content h2 {
    font-size: 1.5rem;
  }
  section .content p {
    font-size: 1rem;
  }
  section .content a {
    font-size: 0.8em;
    padding: 0.9375rem 1.875rem;
  }
  section .box img {
    max-width: 18.75rem;
  }
  .sci {
    left: 3.125rem;
    bottom: 1.875rem;
  }
}
